{% extends 'base.html' %}

{% load static %}

{% block title %}{% endblock title %}

{% block content %}






<div class="cabinet-wrapper">
    <div class="cabinet-container">
        <div class="preview-section">
            {% if url_page %}
                <iframe src="{% url 'user_page' url_page  %}" class="preview-frame"></iframe>
            {% else %}
                <button class="create-template-btn">+ Create your first template</button>
            {% endif %}    
        </div>
        
        <div class="user-section">
            <div class="user-card">
                <img src="{% static 'img/user.png' %}" class="user-photo" alt="USER">
                <h2>{{ user.username }}</h2>
                <div class="buttons">
                    {% if user_page %}
                        <a href="{% url 'index' %}" class="btn">Edit your page</a>
                    {% endif %}
                    <a href="{% url 'user_page' url_page %}" class="btn">See your page</a>
                    <a href="{% url 'index' %}" class="btn">Edit profile</a>
                    <a href="{% url 'index' %}" class="btn btn-logout">Logout</a>
                </div>
            </div>
        </div>
    </div>
</div>



{% endblock content %}